JWS Signature verification failing but same jws works in NodeJs and Java

Implemented jwsVerify' and tried to verify the JWS signature, but getting **JWSInvalidSignature** 
But same signature is able to get verified by java and nodejs code. 

**Sample Public Key:** (`pubKey.txt`)
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs5IoeTMM+8/XPApUKiqzTKqmUN5+VKMU7cpEuodckJCHAKUcn1XHGN54ymqCgJdRLIHMX316S+1PpdGJ3vvVfgEn0ES81YafIR7e9b8Tc8lIQtcQ3tkNmHPoxrjmWIXPEkxLJ6jlr8PYb7kggV/XgtZXpS77TfQjSpZvDfv/ODEQpjNwRfuE84ZA3MPX6NhZS7DA5ie+LojFqZg3hZWKjbRTXHAwe8RtCD45uCleXk2oCRhFEmO0CWIX3n8jXQ/4Cl4OqHBaw1nqU82YujD3Y8E5LhS+b1zjWZR5ye1Q+RNXyZaVDFuI2SL31SpLaeNyZB206TT262IfTTCb80SHwQIDAQAB
-----END PUBLIC KEY-----

**Sample JWS:**  (`request`)
{"signature":"Pn4QgjO4Ki-di3QIQIV0aklXohbRpfw1-jnsGdnkAig9nO8rtHTln3fXftfZwiLOvtl0_DmEZUirrDVfo7dbbel0Vy4fwndyRv4I2Wn0RI9cH4n4SQWKAg8347Ftt_1rggcR2w3LuD0UU__RG8n3OphIEaqnDeU-1PMHhP6dx8o0pgSKUNc5diKhKyN1Azvin6q1JjHlfxBLvzfIT1wxdfSPgihbBhBYVOokkeW0-1VYa2qFM2xfnCWM8GN_KsYSMEqC4KJAUUHSdxu2EbaC6trHaOWd0dNQIyW40PHt725bKpi0T2kNX-cpSGzvfk0EpWI-cCvtS5YGIW6zRUGcGQ==","protected":"eyJraWQiOiI1ODJhMTdkZS0zYjg4LTQxZTgtOGM3MC0zZjBkNmYwMDNmY2QiLCJhbGciOiJSUzI1NiJ9","payload":"eyJ1c2VybmFtZSI6Imp1c3BheSIsImdzdGluIjoiMjBhYWFhYTEyMzRhMWEyIn0="}

**Working NodeJs code:**
```
var jose = require('node-jose');
var fs = require('fs');
keystore = jose.JWK.createKeyStore();
var newPublicKey = fs.readFileSync("./pubKey.txt");
keystore.add(newPublicKey, "pem", {alg : 'RS256', use: 'sig', kid : '582a17de-3b88-41e8-8c70-3f0d6f003fcd'}).
    then(function(result) {
        // {result} is a jose.JWK.Key
        console.log(result);
        jose.JWS.createVerify(keystore).
        verify(request, {
            algorithms: ["RS256"]
            }).
        then(function(r) {
            // {result} is a Object with:
            // *  header: the combined 'protected' and 'unprotected' header members
            // *  payload: Buffer of the signed content
            // *  signature: Buffer of the verified signature
            // *  key: The key used to verify the signature
            console.log("verification result ::", r);
        }).catch(function(e) {
            console.log(e);
        });
    });
```

Can you please provide Haskell code that reproduces the issue?

```
rawPublicKey = "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs5IoeTMM+8/XPApUKiqzTKqmUN5+VKMU7cpEuodckJCHAKUcn1XHGN54ymqCgJdRLIHMX316S+1PpdGJ3vvVfgEn0ES81YafIR7e9b8Tc8lIQtcQ3tkNmHPoxrjmWIXPEkxLJ6jlr8PYb7kggV/XgtZXpS77TfQjSpZvDfv/ODEQpjNwRfuE84ZA3MPX6NhZS7DA5ie+LojFqZg3hZWKjbRTXHAwe8RtCD45uCleXk2oCRhFEmO0CWIX3n8jXQ/4Cl4OqHBaw1nqU82YujD3Y8E5LhS+b1zjWZR5ye1Q+RNXyZaVDFuI2SL31SpLaeNyZB206TT262IfTTCb80SHwQIDAQAB-----END PUBLIC KEY-----"

verifyApp jws rawPublicKey kid = do
  pemKey <- either throwFailedToParsePayload pure $ pemParseBS $ encodeUtf8 rawPublicKey
  let mbPublicKeys = CSP.pemToPubKey [] $ head pemKey
  publicKeys <- maybe throwKeysNotFound pure $ head mbPublicKeys
  publicKey <- getPublicKey $ publicKeys
  let abc = decodeUtf8 $ CSP.writePubKeyFileToMemory [publicKeys]
  let jwk = JOSE.fromKeyMaterial (JOSE.RSAKeyMaterial $ JOSE.toRSAPublicKeyParameters publicKey) & JOSE.jwkKid ?~ kid & JOSE.jwkAlg ?~ JOSE.JWSAlg JOSE.RS256
  verifyResult :: Either Text Text <- L.runIO $ bimap show decodeUtf8 <$> (runExceptT (JOSE.verifyJWS' jwk jws) :: IO (Either JOSE.Error LBS.ByteString))
 
```

Where are `pemParseBS`, `pemToPubKey` and related functions defined?

I have updated the code with proper imports. 

Also facing the same problem. Tried reading the public key from a file in PEM format instead. 

https://gist.github.com/gupta-ujjwal/9c1ebca57c727f8cb9419093292d6b2e#file-josesigning-hs-L115

Thanks for the info friends, I'll analyse it.  Got a busy day so not sure if I'll get an answer for you straight away.

With respect to the objects provided by @gtkirankumar31, the JWS object is not valid. base64url encoding
must not include padding (trailing `=` characters).  In particular, if the signer computes the signature over the encoded payload *including padding* then the signature is over the wrong data.  I suspect this is the case here.  Whatever program created that JWS object has very wrong behaviour.

A compliant implementation should reject JWS objects with invalid encoding.  This is a bug in hs-jose - it should refuse to even decode the JWS, but it does tolerate the padding, and proceeds to verification (which fails).  So I will try and resolve that issue, thought it is not a high priority.

With respect to the JWS object given by @gupta-ujjwal in https://gist.github.com/gupta-ujjwal/9c1ebca57c727f8cb9419093292d6b2e#file-josesigning-hs-L43-L49, it is not given as a string but as a record object.  I assume a JWS object was "chopped up".  I note the "payload" field has 86 chars.  Was the original JWS produced by the same program as the JWS in @gtkirankumar31's example - and the `=` padding deleted?  More complete data - the public key and the JWS as it was produced by the signer - is needed to analyse this example.

I'm also see a behaviour where protected header is being reserialised with keys in a different order.  I don't know if related to this issue or not.

It is generated by Android code. Looks URL safe. 
```
public String encodeBase64(String data) {
       return Base64.encodeToString(data.getBytes(),Base64.NO_WRAP | Base64.URL_SAFE);
   }
```
One more thing is depending upon the length of the payload it succeeds or fails.

> One more thing is depending upon the length of the raw payload it succeeds or fails.
> 
That pretty much confirms that the signer is signing the wrong thing.  i.e. padding chars are in the signing input, and they should not be there.

I'll leave this ticket open, to make hs-jose more strict to reject objects with invalid base64url due to padding.  But this problem is definitely on the signer end.

> > More complete data - the public key and the JWS as it was produced by the signer - is needed to analyse this example.
> 
> Public key is already there in the example above.
> 
> And following is the exact payload generated by the signer.
> 
> `{"signature":"Pn4QgjO4Ki-di3QIQIV0aklXohbRpfw1-jnsGdnkAig9nO8rtHTln3fXftfZwiLOvtl0_DmEZUirrDVfo7dbbel0Vy4fwndyRv4I2Wn0RI9cH4n4SQWKAg8347Ftt_1rggcR2w3LuD0UU__RG8n3OphIEaqnDeU-1PMHhP6dx8o0pgSKUNc5diKhKyN1Azvin6q1JjHlfxBLvzfIT1wxdfSPgihbBhBYVOokkeW0-1VYa2qFM2xfnCWM8GN_KsYSMEqC4KJAUUHSdxu2EbaC6trHaOWd0dNQIyW40PHt725bKpi0T2kNX-cpSGzvfk0EpWI-cCvtS5YGIW6zRUGcGQ==","protected":"eyJraWQiOiI1ODJhMTdkZS0zYjg4LTQxZTgtOGM3MC0zZjBkNmYwMDNmY2QiLCJhbGciOiJSUzI1NiJ9","payload":"eyJ1c2VybmFtZSI6Imp1c3BheSIsImdzdGluIjoiMjBhYWFhYTEyMzRhMWEyIn0="}`



The problem was in our understanding of Base64 encoding. We added NO_PADDING on Android and it worked.

@iamnewspecies thanks for confirming.  I will close this ticket and open a separate one for hs-jose to reject objects with padding in the base64url data.

@iamnewspecies @gtkirankumar31 @gupta-ujjwal thanks for promptly providing all requested info.  Even though the problem was not on my end, it was actually a pleasure to assist you.  You are model users/contributors.  Keep up the good work :+1: 

For others who may face this issue, till @frasertweedale adds the fix for decoding you may have to add the verification at your end to check if it is the right encoding.

RFC which talks about this.
https://tools.ietf.org/html/rfc4648#section-5

https://hackage.haskell.org/package/base64-0.4.2.2/docs/Data-Text-Encoding-Base64.html#g:3
or 
https://hackage.haskell.org/package/base64-0.4.2.2/docs/Data-Text-Encoding-Base64-URL.html
library to handle the issue.

@frasertweedale Let us know if we are wrong about the library and RFC here.

RFC 4648 doesn't seem to REQUIRE padding chars to be omitted in base64url encoding.  My reading is that they are permitted but not required.  But for the avoidance of inevitable compatibility issues, the JOSE specs require that padding chars be omitted.  e.g. from https://tools.ietf.org/html/rfc4648#section-5:

```
   Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
      characters omitted (as permitted by Section 3.2) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See Appendix C for notes on
      implementing base64url encoding without padding.)
```

> A compliant implementation should reject JWS objects with invalid encoding.

Fought that battle on multiple fronts and its a lost cause. Best you can strive for is that your producing code is compliant, whether you accept or reject padded base64url or just base64 has no security implication and is simply help for developers stuck with having to accept jws from non compliant producers, e.g. aws elb, cloudfront, etc. 

Rejecting these in some language has a performance impact which is simply unacceptable to incurr on every operation. 

@panva appreciate your point of view and lived experience.  But because I don't work on this library for $$$ or any commercial interest, if the breakage is somewhere else I'll usually draw the line there.

Sometimes people/vendors do fix their broken code, too: https://community.auth0.com/t/jwk-certificate-thumbprint-is-invalid/16070/21 :)

@frasertweedale I am 100% standing behind your approach, you should run your OSS the way you want to.

My point was not to come in and say you should be accepting what is clearly non-conform or put more work on your plate. It was merely to discuss that one quote - trying to bring some perspective into a topic which isn't as black and white as that quote seemed to have suggested. This has a rolling stone effect, developers opening up issues about "..." in other OSS repos, even some which have already dealt with the topic and came to the conclusion that the model of "produce strict, consume loose" is both, bringing value to developers otherwise frustrated having to work with nonconform producers who are refusing to change, as well as not opening up their code to any security vulnerabilities.

🙇 to a fellow maintainer.

:fist_raised: @panva 

FWIW I worked on a commercial PKI product for 6 years and believe me, I know about compromise.  OTOH, empathetically *enabling your users/customers to understand* the technical details and push back or accept that the problem is on their end, can get good results.  Not always, but more often many people expect.